.body {
    margin: 0;
    padding: 0;
    /* background-image: url(cover.jpg); */
    background-size: cover;
    background-position: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
}

.input {
    position: fixed;
    top: 50%;
    left: 600px;
    transform: translate(-30%, -50%);
    background-color: #fff;
    padding: 50px;
    width: 260px;
    box-shadow: 0px 0px 20px 1px #000000;
    border-radius: 15px;
}

.input h1 {
    text-align: center;
    color: #587866;
    font-size: 30px;
    font-family: sans-serif;
    letter-spacing: 3px;
    padding-top: 0;
    margin-top: -20px;
}

.box-input {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-bottom: 2px solid #587866;
    padding: 8px 0;
}

.box-input i {
    font-size: 20px;
    color: #587866;
    padding: 5px 0;
}

.box-input input {
    width: 85%;
    padding: 5px 0;
    background: none;
    border: none;
    outline: none;
    color: #587866;
    font-size: 18px;
}

.box-input input::placeholder {
    color: #cbcbcb;

}

.btn-input .box-input input:hover {
    background: rgba(10, 10, 10, s 0.5);
}

.btn-input {
    margin-left: 10px;
    margin-bottom: 20px;
    background: none;
    border: 1px solid #000000;
    width: 92.5%;
    padding: 10px;
    color: #000000;
    font-size: 18px;
    letter-spacing: 3px;
    cursor: pointer;
    transition: all .1s;
    border-radius: 10px;
}

.btn-input:hover {
    background: #587866;
}

.bottom {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: -20px;
}

.bottom p {
    color: #000000;
    font-size: 15px;
    text-decoration: none;
    font-family: sans-serif;
}
.bottom a {
    color: #587866;
    font-size: 15px;
    font-family: sans-serif;
}
.bottom a:hover {
    text-decoration: underline;
    font-family: sans-serif;
}
